@mixin flex-hollande {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-bayrou {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-macron {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-hollande-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

@mixin flex-macron-column {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

@mixin flex-space-between-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}