// @mixin text-title{
//     font-family: 'Work Sans', sans-serif;
//     font-weight: 600;
//     font-size: 2rem;
//     line-height: 1.25;
// }

:root {
    --font-primary: Raleway, sans-serif;
}

@mixin text-body-m {
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 140%;
    font-weight: 400;
}

@mixin text-body-l {
    font-family: var(--font-primary);
    @include text-body-m;
    font-weight: 700;
}

@mixin text-small-l {
    font-family: var(--font-primary);
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
}


@mixin text-title-m {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 700;
}

@mixin text-title-l {
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 700;
}

@mixin text-input {
    font-family: var(--font-primary);
    font-size: 0.875rem;
    line-height: 140%;
    font-weight: normal;
}