:root {
  /* MEASUREMENT */
  --big-radius: 107px;
  --default-border-width: 2px;
  --default-radius: 8px;
  --medium-big-radius: 48px;
  --medium-border-width: 8px;
  --medium-radius: 32px;
  --small-radius: 4px;
}
