:root[data-theme="bark"] {
  /* COLOR */
  --color-alert-accent: rgb(246, 79, 79);
  --color-alert-border: rgb(80, 63, 63);
  --color-alert-surface: rgb(62, 53, 53);
  --color-background: rgb(31, 30, 29);
  --color-button-alert-surface: rgb(80, 63, 63);
  --color-button-default-surface: rgb(83, 80, 73);
  --color-default-accent: rgb(244, 143, 71);
  --color-default-border: rgb(113, 111, 106);
  --color-default-surface: rgb(51, 50, 48);
  --color-global-accents-marron: rgb(135, 85, 50);
  --color-global-accents-marron-global: rgb(168, 103, 56);
  --color-global-accents-orange: rgb(255, 123, 29);
  --color-global-accents-orange-global: rgb(244, 143, 71);
  --color-global-neutrals-black-dark: rgb(31, 30, 29);
  --color-global-neutrals-black-global: rgb(83, 80, 73);
  --color-global-neutrals-black-globaler: rgb(113, 111, 106);
  --color-global-neutrals-cream: rgb(250, 236, 202);
  --color-global-neutrals-cream-dark: rgb(219, 217, 213);
  --color-global-neutrals-cream-darker: rgb(189, 187, 184);
  --color-global-neutrals-dark: rgb(51, 50, 48);
  --color-global-neutrals-white: rgb(255, 253, 248);
  --color-global-semantic-blue: rgb(117, 114, 253);
  --color-global-semantic-blue-global: rgb(71, 71, 95);
  --color-global-semantic-blue-globaler: rgb(59, 59, 70);
  --color-global-semantic-green: rgb(79, 224, 145);
  --color-global-semantic-green-global: rgb(75, 96, 84);
  --color-global-semantic-green-globaler: rgb(59, 70, 64);
  --color-global-semantic-red: rgb(246, 79, 79);
  --color-global-semantic-red-global: rgb(80, 63, 63);
  --color-global-semantic-red-globaler: rgb(62, 53, 53);
  --color-input-background: rgb(31, 30, 29);
  --color-paws-background: rgb(83, 80, 73);
  --color-primary-text: rgb(255, 253, 248);
  --color-secondary-text: rgb(255, 253, 248);
  --default-surface: rgb(51, 50, 48);
}
