:root[data-theme="light"] {
  /* COLOR */
  --beige: rgb(255, 235, 180);
  --beige-darker: rgb(255, 221, 132);
  --beige-lighter: rgb(255, 246, 223);
  --black: rgb(49, 57, 61);
  --black-darker: rgb(44, 47, 48);
  --black-light: rgb(92, 99, 103);
  --black-lighter: rgb(152, 155, 156);
  --orange: rgb(236, 113, 25);
  --orange-darker: rgb(201, 90, 10);
  --orange-light: rgb(244, 143, 71);
  --orange-lighter: rgb(255, 183, 131);
  --white: rgb(255, 253, 248);
}
