:root[data-theme="light"] {
  /* COLOR */
  --color-alert-accent: rgb(200, 37, 37);
  --color-alert-border: rgb(255, 209, 209);
  --color-alert-surface: rgb(255, 240, 241);
  --color-background: rgb(255, 253, 248);
  --color-button-alert-surface: rgb(255, 209, 209);
  --color-default-accent: rgb(236, 113, 25);
  --color-default-border: rgb(255, 221, 132);
  --color-default-surface: rgb(255, 246, 223);
  --color-global-accent-orange: rgb(236, 113, 25);
  --color-global-accent-orange-darker: rgb(201, 90, 10);
  --color-global-accent-orange-global: rgb(244, 143, 71);
  --color-global-accent-orange-globaler: rgb(255, 183, 131);
  --color-global-neutrals-black: rgb(49, 57, 61);
  --color-global-neutrals-black-darker: rgb(44, 47, 48);
  --color-global-neutrals-black-global: rgb(92, 99, 103);
  --color-global-neutrals-black-globaler: rgb(152, 155, 156);
  --color-global-neutrals-cream: rgb(255, 246, 223);
  --color-global-neutrals-cream-dark: rgb(255, 235, 180);
  --color-global-neutrals-cream-darker: rgb(255, 221, 132);
  --color-global-neutrals-white: rgb(255, 253, 248);
  --color-global-semantic-blue: rgb(74, 107, 236);
  --color-global-semantic-blue-global: rgb(212, 219, 246);
  --color-global-semantic-blue-globaler: rgb(240, 243, 255);
  --color-global-semantic-green: rgb(75, 233, 147);
  --color-global-semantic-green-global: rgb(213, 244, 224);
  --color-global-semantic-green-globaler: rgb(240, 255, 245);
  --color-global-semantic-red: rgb(200, 37, 37);
  --color-global-semantic-red-global: rgb(255, 209, 209);
  --color-global-semantic-red-globaler: rgb(255, 240, 241);
  --color-input-background: rgb(255, 253, 248);
  --color-paws-background: rgb(255, 235, 180);
  --color-primary-text: rgb(44, 47, 48);
  --color-secondary-text: rgb(49, 57, 61);
}
