.m-form-field {
    --text-color: var(--color-primary-text);
    --margin-bottom: var(--base-space);

    & > label {
        display: block;
        margin-bottom: var(--margin-bottom);
        color: var(--text-color);
    }

    width: 100%;
}