.a-text-input {
    --padding: var(--base-space);
    --border-color: var(--color-default-border);
    --border-width: var(--default-border-width);
    --border-radius: var(--small-radius);
    --focus-color: var(--color-default-accent);
    --background-color: var(--color-input-background);
    --text-color: var(--color-secondary-text);
    --error-color: var(--color-alert-accent);


    width: 100%;
    outline: none;
    padding: var(--padding);
    border: solid var(--border-width) var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;

    &:focus {
        border-color: var(--focus-color);
    }

    &--error {
        border-color: var(--error-color);
    }
}